@use '../../_typography' as *;
@use '../../_buttons' as *;

.stepHeader {
  margin-bottom: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--ll-bd-subtle);
}

.stepHeaderBackBtn {
  @include backBtn;
}

.stepHeaderTitle {
  @include tabTitle;
}

.stepHeaderSubtitle {
  margin: 0;
  font-size: 11px;
  color: var(--ll-cl-text-muted);
}
